<%- include("partials/header", { bot, user, path, title: "Sólo staff" }) %>

<h1> <%= user.id %> </h1>

<%- include("partials/footer") %>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     